@import '../../theme/conf';
.tabs-header {
    width: 100%;
    height: 41px;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.tabs-nav,
.active {
    background: transparent;
    border: none;
    min-width: 70px;
    outline: none;
    color: $fonts-color;
<<<<<<< HEAD
    flex: 1;
=======
>>>>>>> b173b67c7eb78342843fc4b8751c6d793482bb5e
    @include center(auto, 40px);
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: $primary;
        border: none;
        border-radius: 2px;
        position: relative;
        bottom: 2px;
    }
}

.tabs-nav:after {
    @include transition(all .2s);
    @include transform(scale(0, 1));
}

.active:after {
    @include transition(all .2s);
    @include transform(scale(1, 1));
}

.tabs-nav[disabled] {
    color: rgba($fonts-color, .4);
    cursor: not-allowed;
}
<<<<<<< HEAD
.tabs-header button{
    border: none !important;
    font-weight: bold;
    color: $card-text;
    text-align: right;
    padding-right: 15px;
}
.tabs-header button:not(:first-child){
    border-right: 1px solid white !important;
}
.tabs-header button:not(:last-child){
    border-left: 1px solid white !important;
}
.tabs-wrap-default {
    height: 100%;
    .tabs-header {
        border: none;
    }
    .tabs-nav{
        background-color: #E2E2E2;
    }
=======

.tabs-wrap-default {
    .tabs-header {
        border: none;
    }
>>>>>>> b173b67c7eb78342843fc4b8751c6d793482bb5e
    .tabs-nav,
    .active {
        position: relative;
        top: 2px;
        &::after {
            display: none;
        }
    }
    .active {
        border-radius: 5px 5px 0 0;
        border: 1px solid $border-color;
        border-bottom: 1px solid $card-bg;
<<<<<<< HEAD
        background-color: white;
    }
    .done{
        border-bottom: 6px solid $green !important;
        line-height: 32px;
    }
    .done:before{
        content: "ï˜";
        font: normal normal normal 14px/1 FontAwesome;
        color: #15cb7c;
        float: left;
        font-size: 23px;
        margin: 6px 15px;
    }
    .tabs-body {
        border: 1px solid $table-border-color;
        height: calc(100% - 41px);
        background-color: white;
=======
        color: $primary;
    }
    .tabs-body {
        border: 1px solid $border-color;
>>>>>>> b173b67c7eb78342843fc4b8751c6d793482bb5e
    }
}

.tabs-wrap-justified {
    .tabs-header {
        justify-content: space-between;
    }
    .tabs-nav,
    .active {
        flex: 1;
    }
}

.tabs-body {
    padding: 10px;
}