* {
    font-family: 'Rubik';
    padding: 0;
    margin: 0;
}
/* ul,
div {
    padding: 0;
    margin: 0;
    overflow: -moz-scrollbars-none;// firefox滚动条隐藏，但无法滚动
} */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba($fonts-color, .4);
}

.well {
    background: transparent;
}

.swal2-popup .swal2-content {
    font-size: 1.7em !important;
}
.green-color{
    color: $green;
}
.purple-color{
    color: $purple;
}
.blue-color{
    color: $blue;
}
.center{
    text-align: center;
<<<<<<< HEAD
}
.left{
    float: left;
}
.right{
    float: right;
}
.input-group-addon{
    width: 42px;
    text-align: center;
}
.base_select{
    background-color: transparent;
    border: 1px solid #A4AFB7;
    border-radius: 4px;
    height: 35px;
    padding: 5px 10px;
    color: #43425D;
}
.form_line{
    height: 0.5px;
    margin: 0 15px 25px;
    background-color: #CBCBCB;
}
=======
}
>>>>>>> b173b67c7eb78342843fc4b8751c6d793482bb5e
