
<div class="abs_login" >
  <p>B.COM</p>
  <p>בי קום פתרונות תוכנה בעמ</p>
  <div _ngcontent-lgn-c6="" class="form-group">
      <div class="input-group" >
          <input class="form-control" placeholder="שם משתמש" type="text" />
          <span _ngcontent-ysy-c6="" class="input-group-addon addon-left" id="username"><i _ngcontent-ysy-c6="" class="fa fa-user fa-fw"></i></span>
      </div>
      <div class="input-group" >
          <input class="form-control" placeholder="סיסמא" type="password" />
          <span _ngcontent-hqu-c6="" class="input-group-addon addon-left" id="password"><i _ngcontent-hqu-c6="" class="fa fa-lock fa-fw"></i></span>
      </div>
      <button class="btn btn-info loginBtn" >התחבר</button>
      <!-- <div _ngcontent-lgn-c6="" class="input-group">
        <span _ngcontent-lgn-c6="" class="input-group-addon addon-left" id="username"><i _ngcontent-lgn-c6="" class="fa fa-user fa-fw"></i></span>
        <input _ngcontent-lgn-c6="" class="form-control with-primary-addon" placeholder="שם משתמש" type="text">
      </div>
      <div _ngcontent-lgn-c6="" class="input-group">
        <span _ngcontent-lgn-c6="" class="input-group-addon addon-left" id="password"><i _ngcontent-lgn-c6="" class="fa fa-lock fa-fw"></i></span>
        <input _ngcontent-lgn-c6="" class="form-control with-primary-addon" placeholder="סיסמא" type="password">
      </div>
      <button _ngcontent-lgn-c6="" class="btn btn-lg btn-primary">Login</button> -->

  </div>
</div>
