#barChartContainer /deep/ .canvasjs-chart-canvas{
    right: 0;
}
#barChartContainer /deep/ .canvasjs-chart-toolbar{
    display: none;
}
/*#barChartContainer /deep/ .canvasjs-chart-credit{
    display: none;
}*/
.barChartDiv{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
#barChartContainer{
    width: calc(100% - 50px);
    height: calc(100% - 25px);
    right: 0;
    left: 0;
    margin: auto;
}